## Titanic Kaggle Competition

In [10]:
import csv
import numpy

with open('data/train.csv',newline='') as csvFile:

    reader = csv.reader(csvFile, delimiter=',')

    l = list(reader)
    header = l[0]
    raw_data = l[1:]

    data = numpy.empty(len(raw_data))

    for row in raw_data:

1, 0, 3, Braund, Mr. Owen Harris, male, 22, 1, 0, A/5 21171, 7.25, , S
2, 1, 1, Cumings, Mrs. John Bradley (Florence Briggs Thayer), female, 38, 1, 0, PC 17599, 71.2833, C85, C
3, 1, 3, Heikkinen, Miss. Laina, female, 26, 0, 0, STON/O2. 3101282, 7.925, , S
4, 1, 1, Futrelle, Mrs. Jacques Heath (Lily May Peel), female, 35, 1, 0, 113803, 53.1, C123, S
5, 0, 3, Allen, Mr. William Henry, male, 35, 0, 0, 373450, 8.05, , S
6, 0, 3, Moran, Mr. James, male, , 0, 0, 330877, 8.4583, , Q
7, 0, 1, McCarthy, Mr. Timothy J, male, 54, 0, 0, 17463, 51.8625, E46, S
8, 0, 3, Palsson, Master. Gosta Leonard, male, 2, 3, 1, 349909, 21.075, , S
9, 1, 3, Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg), female, 27, 0, 2, 347742, 11.1333, , S
10, 1, 2, Nasser, Mrs. Nicholas (Adele Achem), female, 14, 1, 0, 237736, 30.0708, , C