In [94]:
import pandas as pd
import numpy as np

rawTestData = pd.read_csv('data/test.csv')

testData = rawTestData.fillna(value={
    'HomePlanet':'None',
    'CryoSleep':'None',
    'Cabin':'0/0/0',
    'Destination':'None',
    'Age':0,
    'VIP':'False',
    'RoomService':0,
    'FoodCourt':0,
    'ShoppingMall':0,
    'Spa':0,
    'VRDeck':0,
    'Name':'None'
})

testData[['CabinDeck','CabinNumber','CabinSide']] = testData['Cabin'].str.split('/').tolist()
testData['CabinNumber'] = testData['CabinNumber'].astype('float64')
testData = testData.drop(columns=['Cabin','Name'])
testData.select_dtypes(include='float64').join(pd.get_dummies(testData.select_dtypes(include='object').drop(columns=['PassengerId'])))

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CabinNumber,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,...,CabinDeck_B,CabinDeck_C,CabinDeck_D,CabinDeck_E,CabinDeck_F,CabinDeck_G,CabinDeck_T,CabinSide_0,CabinSide_P,CabinSide_S
0,27.0,0.0,0.0,0.0,0.0,0.0,3.0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
1,19.0,0.0,9.0,0.0,2823.0,0.0,4.0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
2,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
3,38.0,0.0,6652.0,0.0,181.0,585.0,1.0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
4,20.0,10.0,0.0,635.0,0.0,0.0,5.0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,34.0,0.0,0.0,0.0,0.0,0.0,1496.0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
4273,42.0,0.0,847.0,17.0,10.0,144.0,0.0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4274,0.0,0.0,0.0,0.0,0.0,0.0,296.0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
4275,0.0,0.0,2680.0,0.0,0.0,523.0,297.0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
4276,43.0,0.0,0.0,0.0,0.0,0.0,1498.0,1,0,0,...,0,0,0,0,0,1,0,0,0,1